body {
    font-family: Arial, sans-serif;
    background: #494949;
    margin: 0;
}

header {
    background: #222;
    color: white;
    padding: 30px;
    text-align: center;
}

.filters {
    display: flex;
    gap: 15px;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

input,
select {
    padding: 10px;
    font-size: 16px;
}

main {
    width: 90%;
    max-width: 900px;
    margin: auto;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card h3 {
    margin-top: 0;
}

button {
    padding: 10px 16px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}

.bookmark-btn {
    background: #2d7ef7;
    color: white;
}

.spotify-btn {
    background: #1db954;
    color: white;
}

button:hover {
    opacity: 0.9;
}
